<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<html>

<body>
    <p>Team Prefs</p>
    <form action="http://localhost:5000/match" method="POST" enctype="multipart/form-data">
        <p>Team File</p>
        <input type="file" name="team-file" />
       
        <p>Dancer File</p>
        <input type="file" name="dancer-file" />

        <button type="submit">Match</button>
    </form>
</body>

</html>

</html>