<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <title>Matched Teams</title>
</head>

<body>
    <table class="centered">
        <thead>
            <tr>
                <th>Garba</th>
                <th>Bhangra - Girls</th>
                <th>Bhangra - Boys</th>
                <th>Chaahat - Girls</th>
                <th>Chaahat - Boys</th>
                <th>Raas - Girls</th>
                <th>Raas - Boys</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for dancer in rosters["Garba - Females"] %}
                    <p>{{ dancer }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for dancer in rosters["Bhangra - Females"] %}
                    <p>{{ dancer }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for dancer in rosters["Bhangra - Males"] %}
                    <p>{{ dancer }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for dancer in rosters["Chaahat - Females"] %}
                    <p>{{ dancer }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for dancer in rosters["Chaahat - Males"] %}
                    <p>{{ dancer }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for dancer in rosters["Raas - Females"] %}
                    <p>{{ dancer }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for dancer in rosters["Raas - Males"] %}
                    <p>{{ dancer }}</p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>